<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="m.szyba@gmail.com">
    <title>ADR List</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />

</head>
<body>

<div th:insert="header :: header"></div>

<div class="container-fluid">
    <div class="row">

        <div th:insert="sidebar :: sidebar"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h2 th:if="${company.id == null}">Add Company</h2>
            <h2 th:unless="${company.id == null}">Edit Company</h2>
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" novalidate th:action="@{/company/add}" th:object="${company}" method="post">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <input type="hidden" th:field="*{id}" th:value="*{id}">

                            <label for="companyName" class="form-label">Company name</label>
                            <input type="text" th:field="*{companyName}" class="form-control" id="companyName" placeholder="" value="" required>
                        </div>

                        <div class="col-sm-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="" value="" required>
                        </div>

                        <div class="col-sm-12">
                            <label for="postCode" class="form-label">Post Code</label>
                            <input type="text" th:field="*{postCode}" class="form-control" id="postCode" placeholder="" value="" required>
                        </div>

                        <div class="col-sm-12">
                            <label for="city" class="form-label">City</label>
                            <input type="text" th:field="*{city}" class="form-control" id="city" placeholder="" value="" required>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">E-mail</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="e-mail" required>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="tel" th:field="*{phone}" class="form-control" id="phone" placeholder="" required>
                        </div>

                        <div class="col-sm-12">
                            <label for="personContact" class="form-label">Person Contact <span class="text-muted">(Optional)</span></label>
                            <input type="text" th:field="*{personContact}" class="form-control" id="personContact" placeholder="">
                        </div>

                        <div class="col-sm-12">
                            <label for="referenceNo" class="form-label">Reference No. <span class="text-muted">(Optional)</span></label>
                            <input type="text" th:field="*{referenceNo}" class="form-control" id="referenceNo" placeholder="">
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                </form>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

<script th:src="@{/js/dashboard.js}"></script>

</body>
</html>
