<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/baseHead :: baseHeader(~{::link})">
  <title>Add waybill</title>
  <link rel="stylesheet">
</head>

<body>
<header th:replace="parts/header :: header"></header>
<div class="container-fluid">
  <div class="row">

    <div th:insert="parts/sidebar :: sidebar"></div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="col-lg-12">
        <form class="needs-validation" novalidate th:action="@{/waybill/add}" th:object="${waybill}" method="post">

          <input type="hidden" th:field="${waybill.id}">

          <div class="row g-3">

            <div class="col-lg-6">
              <label for="company" class="form-label">Company</label>
              <select th:field="*{companyId}" class="form-select" id="company" required>
                <th:block th:each="c : ${companies}">
                  <option th:text="${c.name}" th:value="${c.id}"></option>
                </th:block>
              </select>
            </div>

            <div class="col-lg-6">
              <label for="customer" class="form-label">Delivery to Customer:</label>
              <select th:field="*{customerId}" class="form-select" id="customer" required>
                <th:block th:each="customer : ${customers}">
                  <option th:text="${customer.name}" th:value="${customer.id}"></option>
                </th:block>
              </select>
            </div>

            <div class="col-lg-6">
              <label for="driverName" class="form-label">Driver Name</label>
              <input type="text" th:field="*{driverName}" class="form-control" th:errorclass="is-invalid" id="driverName" placeholder="" value="">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('driverName')}" th:errors="*{driverName}"></div>
            </div>

            <div class="col-lg-6">
              <label for="driverDocument" class="form-label">Driver Document</label>
              <input type="text" th:field="*{driverDocument}" class="form-control" th:errorclass="is-invalid" id="driverDocument" placeholder="" value="">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('driverDocument')}" th:errors="*{driverDocument}"></div>
            </div>

            <div class="col-lg-6">
              <label for="truckNumber" class="form-label">Truck Plate Number</label>
              <input type="text" th:field="*{truckNumber}" class="form-control" th:errorclass="is-invalid" id="truckNumber" placeholder="" value="">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('truckNumber')}" th:errors="*{truckNumber}"></div>
            </div>
            <div class="col-lg-6">
              <label for="truckDescription" class="form-label">Truck Description</label>
              <input type="text" th:field="*{truckDescription}" class="form-control" th:errorclass="is-invalid" id="truckDescription" placeholder="" value="">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('truckDescription')}" th:errors="*{truckDescription}"></div>
            </div>


            <div class="col-lg-12">
              <div class="form-control" th:each="row, rowStat : *{materialRows}" >
                <div class="form-row row g-3">
                  <div class="form-group col-lg-6">
                    <label for="unNumber">Choose UN number</label>
                    <select th:field="*{materialRows[__${rowStat.index}__].unId}" class="form-select" id="unNumber">
                      <option th:each="un : ${unList}"
                              th:value="${un.id}"
                              th:text="${un.unNumber} + ' ' + ${un.unNameAndDescription} + ', ' + ${un.unLabels} + ', ' + ${un.unPackingGroup}">
                        Un number, descriptions, label, packaging group</option>
                    </select>
                  </div>

                  <div class="form-group col-lg-6">
                    <label for="packaging">Packaging</label>
                    <select th:field="*{materialRows[__${rowStat.index}__].packagingId}" class="form-select" id="packaging">
                      <option th:each="p : ${packagings}"
                              th:value="${p.id}"
                              th:text="${p.codePackaging} + ' ' + ${p.descriptionPackaging}">
                        Packaging number, descriptions</option>
                    </select>
                  </div>

                  <div class="form-group col-lg-3">
                    <label for="quantityPiece">Quantity of pieces</label>
                    <input type="number" th:field="*{materialRows[__${rowStat.index}__].quantityPiece}" class="form-control" id="quantityPiece" min="0" step="1"/>
                  </div>

                  <div class="form-group col-lg-3">
                    <label for="quantityAll">Volume</label>
                    <input type="number" th:field="*{materialRows[__${rowStat.index}__].quantityAll}" class="form-control" id="quantityAll" min="0" step="1">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <button type="submit" name="addRow" class="btn-sm btn-outline-dark">Add new UN number</button>
              </div>
            </div>
          <hr class="my-4">
          <button class="w-100 btn btn-secondary" name="saveForm" type="submit" value="Save">Save</button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>

<script th:replace="parts/script :: script"></script>

</body>
</html>
