<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/baseHead :: baseHeader(~{::link})">
  <link rel="stylesheet">
</head>

<body>
<header th:replace="parts/header :: header"></header>
<div class="container-fluid">
  <div class="row">

    <div th:insert="parts/sidebar :: sidebar"></div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h2>Edit User</h2>
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate th:action="@{/user/edit}" th:object="${user}" method="post">
          <div class="row g-3">
            <div class="col-sm-12">
              <input type="hidden" th:field="*{id}" th:value="*{id}">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" th:field="*{firstName}" class="form-control" th:errorclass="is-invalid" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
            </div>

            <div class="col-sm-12">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" th:field="*{lastName}" class="form-control" th:errorclass="is-invalid" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>

            <div class="col-sm-12">
              <label for="email" class="form-label">E-mail</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" readonly th:field="*{email}" class="form-control" th:errorclass="is-invalid" id="email" placeholder="e-mail" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
              </div>
            </div>

            <div class="col-sm-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" th:field="*{password}" class="form-control" th:errorclass="is-invalid" id="password" placeholder="" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>

            <div class="col-sm-12">
              <label for="description" class="form-label">Description <span class="text-muted">(Optional)</span></label>
              <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="">
            </div>

            <fieldset disabled>
              <div class="col-sm-12">
                <label for="company" class="form-label">Company</label>
                <select readonly="" th:field="*{company}" class="form-select" id="company" required>
                  <th:block th:each="c : ${companies}">
                    <option th:text="${c.companyName}" th:value="${c.id}"></option>
                  </th:block>
                </select>
              </div>
            </fieldset>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit" value="Edit">Edit</button>
        </form>
      </div>
    </main>
  </div>
</div>

<script th:replace="parts/script :: script"></script>

</body>
</html>