<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/baseHead :: baseHeader(~{::link})">
  <link rel="stylesheet">
</head>

<body>
<header th:replace="parts/header :: header"></header>
<div class="container-fluid">
  <div class="row">

    <div th:insert="parts/sidebar :: sidebar"></div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate th:action="@{/delivery-note/add}" th:object="${deliveryNoteForm}" method="post">
          <div class="row g-3">
            <div class="col-sm-12">
              <label for="company" class="form-label">Company</label>
              <select th:field="*{company}" class="form-select" id="company" required>
                <th:block th:each="c : ${companies}">
                  <option th:text="${c.companyName}" th:value="${c.id}"></option>
                </th:block>
              </select>
            </div>
            <div class="col-sm-12">
              <label for="customer" class="form-label">Delivery to Customer:</label>
              <select th:field="*{customer}" class="form-select" id="customer" required>
                <th:block th:each="customer : ${customers}">
                  <option th:text="${customer.customerName}" th:value="${customer.id}"></option>
                </th:block>
              </select>
            </div>
            <div class="col-sm-12">
              <label for="driverName" class="form-label">Driver Name</label>
              <input type="text" th:field="*{driverName}" class="form-control" th:errorclass="is-invalid" id="driverName" placeholder="" value="" required>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('driverName')}" th:errors="*{driverName}"></div>
            </div>
            <div class="col-sm-12">
              <label for="truckNumber" class="form-label">Truck Plate Number</label>
              <input type="text" th:field="*{truckNumber}" class="form-control" th:errorclass="is-invalid" id="truckNumber" placeholder="" value="">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('truckNumber')}" th:errors="*{truckNumber}"></div>
            </div>
            <div class="col-sm-12 form-control" th:each="row, rowStat : *{unForms}" >
              <div class="form-row">
                <div class="form-group">
                  <label for="unNumber">Choose UN number</label>
                  <select th:field="*{unForms[__${rowStat.index}__].unList}" class="form-select" id="unNumber">
                    <option th:each="un : ${unList}"
                            th:value="${un.id}"
                            th:text="${un.unNumber} + ' ' + ${un.nameAndDescription} + ', ' + ${un.labels} + ', ' + ${un.packingGroup}">
                      Un number, descriptions, label, packaging group</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="packaging">Packaging</label>
                  <select th:field="*{unForms[__${rowStat.index}__].packagingList}" class="form-select" id="packaging">
                    <option th:each="p : ${packagingList}"
                            th:value="${p.id}"
                            th:text="${p.codePackaging} + ' ' + ${p.descriptionPackaging}">
                      Packaging number, descriptions</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="quantityPiece">Quantity of pieces</label>
                  <input type="number" th:field="*{unForms[__${rowStat.index}__].quantityPiece}" class="form-control" id="quantityPiece" min="0" step="1"/>
                </div>
                <div class="form-group col-md-6">
                  <label for="quantityAll">Volume</label>
                  <input type="number" th:field="*{unForms[__${rowStat.index}__].quantityAll}" class="form-control" id="quantityAll" min="0" step="1">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <button type="submit" name="addRow" class="btn-sm btn-outline-dark">Add new UN number</button>
            </div>

          <hr class="my-4">
          <button class="w-100 btn btn-secondary" name="saveForm" type="submit" value="Save">Save</button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>

<script th:replace="parts/script :: script"></script>

</body>
</html>
